{
    "openapi": "3.0.0",
    "info": {
      "title": "Exemplo de API GPT-3.5",
      "version": "1.0.0"
    },
    "servers": [
        {
          "url": "https://api.openai.com/v1"
        }
      ],
    "paths": {
      "/chat/completions": {
        "post": {
          "summary": "Geração de completions para conversas",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Resposta bem-sucedida",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ChatCompletionResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "ChatCompletionRequest": {
          "type": "object",
          "properties": {
            "model": {
              "type": "string"
            },
            "messages": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "ChatCompletionResponse": {
          "type": "object",
          "properties": {
            "choices": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "securitySchemes": {
        "BearerAuth": {
          "type": "apiKey",
          "in": "header",
          "name": "Authorization"
        }
      }
    },
    "security": [
      {
        "BearerAuth": []
      }
    ]
  }
  